/* html {
    
} */

body {
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: burlywood;
    
}


h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 8vh;
    margin: auto;
    /*Only use width if no nav menu*/
}


/*If I want to add a navagation menu*/
/* nav {
    width: 50%;

}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
} */

/* main {

} */

.our-shop {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.our-shop-title {
    flex: 100%
}

@media screen and (min-width: 500px) {
    .our-shop-desc {
        width: 50%;
    }
}

.our-shop-desc {
    max-width: 80%;
    text-align: justify;
    margin: auto;
}

.our-shop-image {
    align-items: center;
    max-height: 300px;
    max-width: 80vw;
    margin: 20px;
    color: black;
    border-radius: 5%;
}

