html {
    margin: 0;
}

body {
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: burlywood;
    
}


h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 8vh;
    margin: auto;
    /*Only use width if no nav menu*/
}


/*If I want to add a navagation menu*/
/* nav {
    width: 50%;

}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    list-style-type: none;
} */

/* main {

} */

/*?    Our Shop Section    */

.our-shop {
    width: 100%;
    margin: 0 auto 10vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.our-shop-title {
    flex: 80%;
    font-size: 4vh;
    margin-left: 0;
    /* padding-left: 10vw; */
}

/*! Have to work on styling a leading line */

/* .our-shop-title::before {
    content: "";
    top: 15%;
    width: 10vw;
    height: 1vh;
    margin-right: -10vw;
    padding-right: -10vw;
    position: absolute;
    background-color: black;
} */

/** Can add after line to all sections or alternate w leading line */

.our-shop-title::after {
    content: "";
    top:15%;
    width: 100%;
    height: 1vh;
    margin-left: 1vw;
    position: absolute;
    background-color: black;
}

.our-shop-desc {
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 3vh;
    margin: auto;
}

.our-shop-image {
    align-items: center;
    max-height: 400px;
    width: 40%;
    margin: 5vh auto;
    color: black;
    border-radius: 5%;
}

@media screen and (max-width: 480px) {
    .our-shop-desc, .our-shop-image {
        width: 90%;
        text-align: center;
    }
}

/*?    What We Serve Section   */

.what-we-serve {
    max-width: 80vw;
    margin: -5vh auto 0 auto;
    align-items: center;
}

.what-we-serve-title {
    font-size: 4vh;
    text-align: right;
}

.drinks-served {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coffee-container, .espresso-container, .latte-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
}

.coffee-title, .espresso-title, .latte-title {
    font-size: 5vh;
    text-align: left;
    width: 100%;
}

.coffee-list, .espresso-drinks, .latte-flavors {
    font-size: 2.5vh;
    text-align: center;
    width: 40%;
    list-style-type: none;
    font-style: oblique;
    font-size: 2.5vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-self: space-around;

}

.coffee-img, .espresso-img {
    width: 40%;
    border-radius: 5%;
}

.latte-img {
    width: 40%;
    max-height: 480px;
    object-fit: cover;
    border-radius: 5%
}

@media screen and (max-width: 480px) {
    .coffee-list, .espresso-drinks, .latte-flavors {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .coffee-img, .espresso-img {
        width: 100%;
    }
    .latte-img {
        width: 100%;
        max-height: 170px;
        object-fit: cover;
        object-position: 0 46%;
    }
}

@media screen and (max-width: 480px) {
    .coffee-img, .espresso-img, .latte-img {
    width: 100 vw;
    margin: auto;
    }
}

/*? Coffee Knowledge Section */

.coffee-knowledge {
    width: 90%;
    margin:  auto;
    margin-top: 10vh;
}

.coffee-knowledge > h2 {
    font-size: 4vh;
}

.coffee-knowledge > h3 {
    font-size: 3vh;
}

.coffee-knowledge > h3 > p {
    font-size: 2.5vh;
}

@media (width >= 480px) {
    .history-of-coffee, .geography-of-coffee, .types-of-coffee {
        display: inline-flex;
        flex-direction: column;
        width: 30%;
        margin: auto;
        text-align: center;
    }
}

/*? Contact Us Section */

.contact-us {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    text-align: center;
    background-color: burlywood;
}

@media (width >= 480px) {
    .our-store, .contact-list {
        display: inline-flex;
        flex-direction: column;
        width: 40%;
        margin: auto;
    }
}